.play {
  display: grid;
  grid-template: 450px 300px/ 650px 500px 1fr;
  height: calc(100% - 50px);
  .Explorer{
    grid-area: 1/1/2/2;
    height: 100%;
  }
  &_list {
    grid-area: 2/1/3/2;
  }
  &_button {
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiButton-contained.MuiButton-containedPrimary {
      height: fit-content;
    }
  }
  &_settings {
    grid-area: 1/3/3/4;

    .form {
      height: 100%;
    }
  }
  &_stats {
    grid-area: 1/2/4/3;
    display: flex;
    flex-direction: column;
    .BasicTable{
      height: 250px;
      margin: 5px;
      .MuiTable-root{
        max-height: 200px;
        overflow-y: auto;
      }

    }
  }
}
