@import "../../Utils/glovar.scss";

.form {
  color: white;
  font-family: "Quantico";
  background: #202020;
  padding: 10px;
  max-height: 750px;
  height: 75%;
  min-height: 300px;
  width: 450px;
  margin: 0 auto;

  &-content {
    padding: 10px;
    height: calc(100% - 75px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 20px);
  }
}
