@import "../../Utils/glovar.scss";

.messages {
  display: flex;
  margin-top: 25px;
}
.response-box {
  flex-grow: 1;
  background-color: $dark-bg-d5;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-text-l5;
  font-weight: bolder;
  user-select: none;
  &--error {
    color: #f44336d6;
  }
}
