@import "../../Utils/glovar.scss";

.form {
  color: white;
  font-family: "Quantico";
  background: #202020;
  padding: 10px;
  max-height: 750px;
  min-height: 300px;
  width: 450px;
  margin: 0 auto;
  height: 750px;
  display: grid;
  grid-template: 1fr 50px/1fr;

  &-content {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: 1/1/2/2;
  }
}
