@import "../../Utils/glovar.scss";

.quiz-card {
  &-primary {
    &-name {
      font-size: 25px;
      display: block;
      color: $dark-text-l5;
    }
  }
  &-secondary {
    &-user {
      font-size: 16px;
      display: block;
      margin: 5px;
      cursor: pointer;
      text-align: center;
      font-weight: bolder;
      color: $dark-text-d5;
    }
    &-subject {
      text-align: center;
      background-color: $dark-bg-d5;
      padding: 3px;
      border-radius: 2px;
      width: fit-content;
      margin: 5px auto;
      font-size: 15px;
    }
    &-tags {
      display: flex;
      justify-content: center;
      &-item {
        background-color: $dark-bg-d5;
        padding: 3px;
        font-size: 12px;
      }
    }
  }
}
