.React-hotkeys{
  height: 100%;
}
.GalleryDisplayer {
  grid-auto-rows: 300px;
  grid-template-rows: 300px;
  display: grid;
  grid-gap: 5px;
  overflow-y: auto;
  height: calc(100% - 75px);
  &_colcount {
    width: 50%;
    margin: 0 auto;
    max-width: 150px;
  }

  &_Item {
    padding: 5px;
    border-radius: 3px;
    overflow-y: auto;
    .MuiFormControlLabel-root {
      margin: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      .MuiButtonBase-root.MuiCheckbox-root {
        padding: 0px;
      }
      .MuiSvgIcon-root {
        width: 0.75em;
      }
    }
    &_Sector {
      &-actions {
        display: flex;
        justify-content: center;
        & .MuiSvgIcon-root {
          width: 0.75em;
        }
      }
      &-primary {
        display: flex;
        justify-content: center;
        font-size: 1.25em;
        font-weight: bolder;
        padding: 3px;
        margin: 5px;
        text-align: center;
      }
      &-secondary {
        display: flex;
        justify-content: center;
        align-items: center;
        .GalleryDisplayer_item_container_item {
          padding: 3px;
        }
      }
      &-tertiary {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        max-height: 150px;
        overflow-y: auto;
        padding: 5px;
        &_Item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 3px;
          &_value {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 5px;
          }
        }
      }
      &-ref {
        text-align: center;
      }
    }
  }
}

.GalleryDisplayer-Quiz {
  grid-auto-rows: 300px;
  .GalleryDisplayer_Item_Sector-secondary {
    display: grid;
    grid-template: 30px 1fr/ 1fr 1fr 1fr;
    .GalleryDisplayer_Item_Sector_Item {
      display: flex;
      justify-content: center;
    }
    .GalleryDisplayer_Item_Sector_Item-tags {
      grid-area: 2/1/3/4;
    }
  }
}

.GalleryDisplayer-Environment {
    grid-auto-rows: 250px;
    grid-template-rows: 250px;
}
