.Explorer {
  display: flex;
  height: calc(100% - 50px);
  .Detailer{
    width: 350px;
  }
  .Displayer_container {
    height: 100%;
    grid-area: 1/2/3/3;
    grid-template: 50px 1fr/1fr;
    .Manipulator {
      height: 75px;
    }
  }
}
