.Explorer {
  display: flex;
  height: calc(100% - 50px);
  .Detailer{
    width: 350px;
  }
  .React-hotkeys{
    width: fit-content;
  }
  .Displayer_container {
    height: 100%;
    width: 100%;
    .Manipulator {
      height: 75px;
    }
  }
}
