@import "../../Utils/glovar.scss";

.board {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-data {
    margin-top: 20px;
    border-radius: 5px;
    background-color: $dark-bg-d5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    overflow: scroll;
    flex-grow: 1;
    position: relative;

    &-item {
      background-color: $dark-bg-l5;
      padding: 5px;
      color: $dark-text-1;
      font-family: "Quantico";
      margin: 5px;
      border-radius: 5px;
      overflow: auto;
    }
  }

  .no-data {
    font-size: 30px;
    color: $dark-text-1;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-family: "Quantico";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
    text-align: center;
  }
}
