.Import {
	.React-hotkeys {
		height: calc(100% - 50px);
		display: flex;
	}
	.CustomList {
		width: 30%;
		max-width: 300px;
		margin-right: 10px;
	}
	.FormFiller {
		flex-grow: 1;
	}
	.upload_button {
		width: 150px;
		margin: 0px;
		padding: 0px;
	}
}
