.Displayer {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template: 50px 500px 100px/1fr;
  &_data {
    overflow-y: auto;
  }
  &_data-gallery {
    overflow-y: hidden;
  }
  &_actions {
    &-delete,
    .MuiSvgIcon-root {
      color: #f81a12;
    }
    &-update,
    .MuiSvgIcon-root {
      color: #00a3e6;
    }
  }
}
