.Displayer {
  height: calc(100% - 50px);
  &_container {
    max-width: 1000px;
  }
  &_checked {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_data {
    overflow-y: auto;
    height: calc(100% - 125px);
  }
  &_data-gallery {
    overflow-y: hidden;
  }
  &_actions {
    display: flex;
    .MuiSvgIcon-root {
      width: 0.75em;
    }
    &-delete {
      &.MuiSvgIcon-root {
        color: #f81a12;
      }
    }

    &-update {
      &.MuiSvgIcon-root {
        color: #00a3e6;
      }
    }
  }
}
