@import "../../Utils/glovar.scss";

.card {
  &-tertiary {
    margin-top: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    &-item {
      padding: 5px;
      margin: 3px;
      display: flex;
      justify-content: space-between;
      &-key {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: $dark-bg-d5;
      }
      &-value {
        word-wrap: normal;
        word-break: break-all;
        padding: 5px;
        background-color: $dark-bg-1;
      }
    }
  }
}
