@import "../../Utils/glovar.scss";

.card {
  &-secondary {
    margin-top: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    &-item {
      padding: 5px;
      margin: 3px;
      display: flex;
      justify-content: space-between;
    }
  }
}
