@import "../../Utils/glovar.scss";

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: $dark-bg-1;
  margin: 5px;
  padding: 5px;
  overflow: auto;
  font-family: "Quantico";
  color: $dark-text-1;
  &-primary {
    &-item {
      font-weight: bolder;
      text-align: center;
      cursor: pointer;
      font-size: 25px;
      display: block;
      color: $dark-text-l5;
    }
  }
  &-secondary {
    padding: 5px;
    margin: 0 auto;
    &-item {
      text-align: center;
      color: $dark-text-d5;
      width: fit-content;
      margin: 5px auto;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      &-highlight {
        background-color: $dark-bg-d5;
        border-radius: 2px;
        padding: 3px;
      }
      &-row {
        display: flex;
        justify-content: center;
        &-item {
          background-color: $dark-bg-d5;
          padding: 3px;
          font-size: 12px;
        }
      }
    }
  }
  &-tertiary {
    margin-top: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    &-item {
      padding: 5px;
      margin: 3px;
      display: flex;
      justify-content: space-between;
      &-key {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: $dark-bg-d5;
      }
      &-value {
        word-wrap: normal;
        word-break: break-all;
        padding: 5px;
        background-color: $dark-bg-1;
      }
    }
  }
}

.card-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: calc(100% - 20px);
  padding: 0px 5px 0px 5px;

  &-key {
    background-color: $dark-bg-1;
    padding: 5px;
    width: fit-content;
    margin-right: 10px;
    @extend %center;
  }
  &-value {
    background-color: $dark-bg-l10;
    padding: 5px;
    width: 100%;
    @extend %center;
  }
}
