@import "../../Utils/glovar.scss";

.navbar-links {
  width: 100vw;
  height: 50px;
  background-color: $dark-bg-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .MuiTabs-root {
    height: 100%;
    .MuiTabs-flexContainer {
      height: 100%;
      .MuiButtonBase-root {
        height: calc(100% - 20px);
        min-height: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        .MuiTab-wrapper {
          font-size: 12px;
          .MuiSvgIcon-root {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  & .user-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    .navbar-link-item--username {
      font-weight: bolder;
      color: #ddd;
      font-family: "Quantico";
      margin-left: 10px;
      font-size: 18px;
      user-select: none;
      cursor: pointer;
    }
  }
}
