@import "../../Utils/glovar.scss";

.navbar-links {
  width: 100vw;
  height: fit-content;
  background-color: $dark-bg-1;
  display: flex;
  justify-content: space-around;

  a {
    height: 100%;
    display: block;
    flex-grow: 1;
    margin: 5px;
  }

  .navbar-link {
    list-style-type: none;
    cursor: pointer;
    color: $dark-text-1;
    background-color: $dark-bg-l5;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quantico";
    font-weight: bold;
    font-size: 20px;
    transition: background-color 250ms ease-in-out;
    height: calc(100% - 15px);

    &:hover {
      background-color: $dark-bg-l10;
      transition: background-color 250ms ease-in-out;
    }
  }
  .active {
    background-color: #5a5a5a;
  }
}
