.create {
  &_form {
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .form {
      height: 80%;
      padding: 0px;
      overflow: auto;
    }
  }
  &_question {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    .form {
      grid-area: 1/1/3/2;
    }
    .FileInput {
      grid-area: 2/2/3/3;
      width: 100%;
    }
  }
}

.question_form {
  grid-area: 1/2/2/3;
}
