.Detailer{
  overflow-y: auto;
  &_container{
    padding: 5px;
    

    &-refs,&-ref{
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_item{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        &_key{
          font-weight: bolder;
          text-transform: capitalize;
          font-size: 16px;
          text-align: center;
        }
        &_value_container{
          max-height: 200px;
          overflow-y: auto;
          padding: 5px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          &_item{
            padding: 3px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }

    &-ref{
      &_item{
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        &_value_container{
          width: fit-content;
        }
      }
    }
    
    &-primary{
      &_item{
        font-size: 20px;
        font-weight: bolder;
        display: flex;
        justify-content: center !important;
        &_key{
          display: none;
        }
      }
    }
    &-secondary{
      &_item{
        &_key,&_value{
          font-size: 16px;
        }
      }
    }
    &-tertiary{
      margin-top: 10px;
      border-radius: 3px;
      &_item{
        align-items: center;
        &_value{
          padding: 3px;
          margin: 3px;
        }
      }
    }
    &_item{
      display: flex;
      justify-content: space-between;

      &-image{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-tags{
        display: flex;
        align-items: center;
      }
    }
  }
}