@import "../../Utils/glovar.scss";

.detail {
  &-card {
    height: 250px;
    display: grid;
    grid-template: 50px /250px 1fr 1fr;
    &-image {
      grid-area: 1/1/3/2;
    }
    .card-primary {
      grid-area: 1/2/2/3;
    }
    .card-secondary {
      grid-area: 2/2/3/3;
    }
    .card-tertiary {
      grid-area: 1/3/3/4;
      padding: 0px;
      margin: 0px;
    }
  }
  &-board {
    height: calc(100% - 275px);
    &-data {
    }
  }
}
