.BasicTable{
  &_table{
    height: calc(100% - 50px);
    overflow-y: auto;
  }
  &_footer{
    display: flex;
    align-items: center;
    div{
      text-align: center;
      padding: 3px 24px 3px 16px;
    }
  }
}