.report {
  &_body {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 75%;
    padding: 5px;
    height: calc(100% - 100px);
    margin: 0 auto;
    overflow-y: auto;
    &_item {
      padding: 5px;
      display: flex;
      flex-direction: column;
      height: 250px;
      &_body {
        padding: 5px;
        display: flex;
        &--MCQ {
          display: grid;
          grid-template: 50px/1fr 1fr;
          grid-auto-rows: 50px;
          grid-gap: 5px;
        }
        &_option {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          & .color {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
      &_header {
        padding: 5px;
        border-radius: 3px 3px 0px 0px;
        height: 25%;
        font-weight: 20px;
        &_item {
        }
        &_meta {
          display: flex;
          justify-content: center;
          padding: 5px;
          &_item {
            padding: 3px;
            margin: 3px;
            border-radius: 3px;
          }
        }
        &--name {
          font-weight: bolder;
          font-size: 22px;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }
}
