.report {
  max-width: 1000px;
  width: 75%;
  margin: 0 auto;
  &_body {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    max-height: 550px;
    &_item {
      padding: 5px;
      display: flex;
      margin-bottom: 5px;
      flex-direction: column;
      &_body {
        display: flex;
        &--MCQ,
        &--MS,
        &--TF,
        &--Snippet {
          display: grid;
          grid-template: 50px/1fr 1fr;
          grid-auto-rows: 50px;
          grid-gap: 5px;
        }
        &--FIB {
          display: flex;
          flex-direction: column;
        }
        &--FC {
          display: flex;
          .report_body_item_body_option {
            margin-right: 5px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        &_row {
          display: grid;
          grid-gap: 5px;
          margin: 5px 0px;
          &--2 {
            grid-template: 50px/1fr 1fr;
          }
          &--3 {
            grid-template: 50px/1fr 1fr 1fr;
          }
          &--4 {
            grid-template: 50px/1fr 1fr 1fr 1fr;
          }
        }
        &_option {
          border-radius: 3px;
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          & .color {
            min-height: 25px;
            min-width: 25px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
      &_header {
        margin-bottom: 5px;
        border-radius: 3px 3px 0px 0px;
        display: flex;
        flex-direction: column;
        &_item {
        }
        &_meta {
          display: flex;
          justify-content: center;
          padding: 5px;
          &_item {
            padding: 3px;
            margin: 3px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            font-weight: bold;
          }
        }
        &--name {
          font-weight: bolder;
          font-size: 20px;
          text-align: center;
          padding: 5px;
          height: 100%;
          overflow-y: auto;
        }
      }
    }
  }
  &_header {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    height: 150px;
    flex-direction: column;
    &_row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      &--data {
      }
      &--filter {
        width: 100%;
        &--validation {
        }
      }
      &_item {
        padding: 5px;
        border-radius: 3px;
      }
    }
    &_item {
      padding: 3px;
      border-radius: 3px;
    }
  }
}
