@import "../../Utils/glovar.scss";

.nav-links {
  width: 250px;
  height: 100vh;
  background-color: $dark-bg-1;

  .nav-link {
    list-style-type: none;
    cursor: pointer;
    width: 75%;
    color: $dark-text-1;
    background-color: $dark-bg-l5;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 60px;
    font-family: "Quantico";
    font-weight: bold;
    font-size: 20px;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: $dark-bg-l10;
      transition: background-color 250ms ease-in-out;
    }
  }
  .current-link {
    background-color: #5a5a5a;
  }
}
